VITE_SUPABASE_URL=https://xizvwahuthsbegluaifz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpenZ3YWh1dGhzYmVnbHVhaWZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2MDA4NzEsImV4cCI6MjA5MjE3Njg3MX0.DKuIeqp506EAM8DgG73jBn-PBf99nNd7pbQqdAER0To
VITE_GEMINI_API_KEY=sua_chave_gemini
